---
import BaseLayout from "./BaseLayout.astro";

interface Props {

title?: string;

description?: string;

canonical?: string;

image?: string;

keywords?: string;

robots?: string;

}

const {

title,

description,

canonical,

image,

keywords,

robots

} = Astro.props;
---

<BaseLayout

title={title}

description={description}

canonical={canonical}

image={image}

keywords={keywords}

robots={robots}

>

<main>

<slot />

</main>

</BaseLayout>
